# Игнорировать папку src
/src/

# Игнорировать виртуальное окружение
/.venv/

# Игнорировать папку data
/data/

# Игнорировать конфигурационные файлы среды разработки
/.idea/

# Игнорировать файл логов
application.log

# Игнорировать все папки pycache
__pycache__/
