{% extends 'base.html' %}

{% block title %}Управление заказами{% endblock %}

{% block content %}
<h1>Управление заказами</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Имя покупателя</th>
        <th>Email</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Статус</th>
        <th>Действия</th>
    </tr>
    {% for order in orders %}
    <tr data-id="101">
        <td> {{ order.order_id }} </td>
        <td> {{ order.username }} </td>
        <td> {{ order.email }} </td>
        <td> {{ order.order_date }} </td>
        <td> {{ order.total_price }} руб.</td>
        <td class="order-status"> {{ order.status }} </td>
        <td><a href="#" class="edit-status">Изменить статус</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
