<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Админ Панель{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>

    <!-- Боковая панель -->
    <div class="sidebar">
        <h2>Админ Панель</h2>
        <ul>
            <li><a href="{{ url_for('home') }}">Главная</a></li>
            <li><a href="{{ url_for('admin_panel') }}">Админ Панель</a></li>
            <li><a href="{{ url_for('admin_products') }}">Товары [db]</a></li>
            <li><a href="{{ url_for('admin_orders') }}">Заказы</a></li>
            <li><a href="{{ url_for('admin_users') }}">Пользователи</a></li>
            <li><a href="{{ url_for('admin_settings') }}">Настройки</a></li>
            <li><a href="{{ url_for('logout')}}">Выход</a></li>
        </ul>
    </div>


    <!-- Основное содержимое -->
    <div class="main-content">
        {% block content %}
        <!-- Уникальный контент будет здесь -->
        {% endblock %}
    </div>

    <!-- Подключение скриптов -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
